<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>patient form</title>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

</head>
<body>

<form action="/action_page.php">
    First name: <input type="text" name="FirstName" value="Mickey"><br>
    Last name: <input type="text" name="LastName" value="Mouse"><br>
    Symptoms: <input type="text" name="symptoms" value="Mouse"><br>
    <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button and the form-data will be sent to Admission".</p>


</body>
</html>