<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RegistrationForm</title>
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

</head>
<body>
<h2>Please fill in the form:</h2>
<form method="post" th:action="@{/}" th:object="${patient}">
    <label>Enter your full name:</label>
    FullName: <input th:field="*{name}" type="text">
    <br>
    <p th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name cannot be empty!</p>
    <br/>
    <label>Enter your symptoms:</label>
    Symptoms: <input th:field="*{symptoms}" type="text"/>
    <p th:errors="*{symptoms}" th:if="${#fields.hasErrors('symptoms')}">Symptoms cannot be empty!</p>
    <button type="submit">Save the data</button>

</form>

<p>Click the "Submit" button and the form-data will be sent to Admission".</p>

</body>
</html>